body{
  font-size: 1.5rem;
  width: 99vw;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b99e9e;
    color: #fff;
    padding: 1rem;
  }
  
  .navbar-left img {
    width: 50px;
    height: 50px;
  }

  .navbar-left .logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
  }
/*///////////////  */

/* Foorter */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b99e9e;
  color: #fff ;
  height: 8vh;
}

.footerImg{
  margin: 15px;
  height: 5vh;
}

/*///////////////  */

/* Sidebar */

.sidebar{
  background-color: #b99e9e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
/*///////////////  */

/* Item Card */

.recipeList{
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.recipe-card{
  width: 40vw;
}

.foodImg{
  height: 30vh;
  width: 20vw;
  object-fit: contain;
}

.btn-delete {
  background-color: #e85858;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  color: #fff;
}
/*///////////////  */

/* Error Page */
.errorPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  font-size: 2.5rem;
}

.errorImg{
  height: 30vh;
  width: 20vw;
  object-fit: contain;
}